body {
    margin: 0;
    padding: 0;
    background: url("images/CalamBanga.jpg") no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

.header {
    background: rgba(255, 255, 255);
    padding: 10px;
    text-align: right;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.home{
    text-decoration: none;
    color: black;
    font-family: Arial, sans-serif;
}

.header h2 {
    display: inline-block;
    margin-right: 20px;
}

.hbutton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    font-family: Arial, sans-serif;
}

.explore-button:hover {
    background-color: #0056b3;
}

.about-button {
    background-color: #4CAF50;
    margin-right: 80px;
}

.about-button:hover {
    background-color: #45a049;
}

main{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 20px;
}

.secondpage {
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent black background for text */
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    width: 740px;
}

.tourism, .souvenirShop, .rizalhouse{
    width: 100%;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}